<h1>Creatures</h1>

<% @creatures.each do |creature|%>
    <div>
        <label>Name:</label> <%= creature.name%>
        <br />
        <label>Description:</label> <%= creature.description%>
    </div>
    <br />
<% end %>
